<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 	http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.2.xsd
 	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
 	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
 	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
http://www.springframework.org/schema/mvc 
     	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
 	http://www.springframework.org/schema/task  http://www.springframework.org/schema/task/spring-task.xsd">


	<!-- 静态资源springmvc处理 -->
	<mvc:default-servlet-handler />
	<mvc:annotation-driven>

	</mvc:annotation-driven>


	<!-- Velocity视图解析器 默认视图 -->





	<!-- velocity视图解析器 -->
	<bean id="velocityViewResolver"
		class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="suffix" value=".html" />
		<property name="order" value="1" />
		<property name="contentType" value="text/html;charset=UTF-8" />
	</bean>

	<!-- velocity环境配置 -->
	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<!-- velocity配置文件路径 -->
		<property name="configLocation" value="/WEB-INF/velocity.properties" />
		<!-- velocity模板路径 -->
		<property name="resourceLoaderPath" value="/WEB-INF/views/" />
	</bean>




	<!-- html视图解析器 先配置freemarkerConfig,html是没有prefix前缀属性的 -->
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath">
			<value>/WEB-INF/views/</value>
		</property>
	</bean>
	<bean id="htmlviewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="suffix" value=".html" />
		<property name="order" value="2"></property>
		<property name="contentType" value="text/html;charset=UTF-8"></property>
	</bean>









	<mvc:resources mapping="/**/*.html" location="/" />

	<mvc:resources location="WEB-INF/statics/img/" mapping="/img/**" />
	<mvc:resources location="WEB-INF/statics/js/" mapping="/js/**" />
	<mvc:resources location="WEB-INF/statics/css/" mapping="/css/**" />
	<mvc:resources location="WEB-INF/statics/img/favicon.ico"
		mapping="/favicon.ico" />






	<!-- 整合kaptcha验证码 https://www.cnblogs.com/louis80/p/5230507.html -->
	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha"
		scope="singleton">
		<property name="config">
			<bean class="com.google.code.kaptcha.util.Config">
				<constructor-arg>
					<props>
						<prop key="kaptcha.border">yes</prop>
						<prop key="kaptcha.border.color">105,179,90</prop>
						<prop key="kaptcha.textproducer.font.color">blue</prop>
						<prop key="kaptcha.textproducer.font.size">45</prop>
						<prop key="kaptcha.session.key">code</prop>
						<prop key="kaptcha.textproducer.char.length">4</prop>
						<prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>
					</props>
				</constructor-arg>
			</bean>
		</property>
	</bean>




	<!-- 异常处理类 -->
	<bean id="exceptionHandler"
		class="cn.woshicheng.core.error.springmvc.HandlerExceptionResolver" />

	<import resource="smadmin-shiro.xml" />
</beans>