/*.project
/.settings/*.prefs
/sm_adminweb/*.classpath
/sm_adminweb/*.gitignore
/sm_adminweb/*.project
/sm_adminweb/.settings/*.prefs
/sm_adminweb/*.xml
/sm_adminweb/logs/access/*.log
/sm_common/*.classpath
/sm_common/*.gitignore
/sm_common/*.project
/sm_common/.settings/*.prefs
/sm_core/*.classpath
/sm_core/*.gitignore
/sm_core/*.project
/sm_core/.settings/*.prefs
/sm_test/*.classpath
/sm_test/*.gitignore
/sm_test/*.project
/sm_test/.settings/*.prefs
/sm_adminweb/.settings/*.jsdtscope
/sm_adminweb/.settings/*.component
/sm_adminweb/.settings/*.xml
/sm_adminweb/.settings/*.container
/sm_adminweb/.settings/*.name
/sm_core/src/main/resources/*.xml
/sm_test/src/main/resources/*.xml
/target/maven-archiver/*.properties
/target/*.war
