<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- (properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,plugins?,environments?

,databaseIdProvider?,mappers?) -->
<configuration>
	<settings>
		<!-- 开启驼峰匹配 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<!--针对单个别名定义 -->
		<typeAlias type="cn.woshicheng.core.entity.SysUserEntity"
			alias="SysUser" />
		<!--进行批量别名定义：自动扫描包中po类，自定义别名，别名就是类名(首字母大写或小写都可以) -->
		<!-- <package name="cn.woshicheng.*.entity" /> -->
	</typeAliases>
	
	<plugins>
		<plugin
			interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
			<property name="dialectClass"
				value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect" />
		</plugin>
	</plugins>


</configuration>